.main {
  font-weight: bold;
  margin: auto;
  font-size: 20pt;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  opacity: 60%;
  div {
    font-size: 80pt;
  }
}