.modal {
  &.modalOverlay {
    opacity: 20%;
  }

  > div:last-child {
    margin: 20px;
    .light {
      button {
        background-color: var(--main-dark-backgroun-color);
        color: var(--main-light-border-color);
        &:hover {
          background-color: var(--main-dark-backgroun-color) !important;
          color: var(--main-light-border-color) !important;
          opacity: 70%;
        }
      }
    }
    
    .dark {
      button {
        background-color: var(--main-light-background-color);
        color: var(--main-dark-backgroun-color);
        &:hover {
          background-color: var(--main-light-background-color) !important;
          color: var(--main-dark-backgroun-color) !important;
          opacity: 70%;
        }
      }
    }
  }
  
  .modalBody {
    background-color: red;
  }
}